body {
    font-family: sans-serif;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr;
    min-height: 100vh;
}

.sidebar {
    grid-column: 1/2;
    grid-row: 1/-1;
    display: grid;
    gap: 2rem;
    align-content: start;
    background-color: rgb(40, 73, 34);
    padding: 1rem;
}

h1 {
    margin-bottom: 0;
    color: white;
}

nav {
    display: grid;
    gap: .5rem;
}

nav a {
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    padding: .5rem;
}

.page-header {
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: 2fr 3fr;
    background-color: rgb(50, 83, 44);
    padding: 2rem;
    padding-top: 1rem;
    padding-right: 4rem;
    column-gap: 2rem;
}

.search-container {
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 9fr;
    align-items: center;
    gap: .5rem;
}

input[type='search'] {
    border-radius: 20px;
    border: none;
    font-size: 1.3rem;
    background-color: rgb(238, 238, 238);
}

[for='search'] {
    color: white;
}

.profile-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-content: end;
    gap:1.5rem;
}

.notification-btn {
    grid-column: 1/2;
}

.profile-img {
    grid-column: 2/3;
}

.profile-container span {
    color: white;
    font-weight: bold;
    grid-column: 3/4;
}

.welcome-container {
    grid-row: 2/3;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 2rem;
    color: white;
}

.profile-img-2 {
    grid-column: 1/2;
    grid-row: 1/3;
    justify-self: center;
    align-self: center;
}

.welcome {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-bottom: .5rem;
}

.name {
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 1.3rem;
    margin: 0;
}

.action-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: end;
    gap: 2rem;
}

.action-btn {
    padding: .5rem 1rem;
    background-color: rgb(33, 69, 33);
    border: none;
    border-radius: 20px;
    font-size: 1.2rem;
    color: white;
}