body {
    font-family: sans-serif;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr;
    min-height: 100vh;
}

.sidebar {
    grid-column: 1/2;
    grid-row: 1/-1;
    display: grid;
    gap: 3rem;
    align-content: start;
    background-color: rgb(40, 73, 34);
    padding: 1rem;
}

h1 {
    margin-bottom: 0;
    color: white;
}

nav {
    display: grid;
    gap: .5rem;
}

nav a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    padding: .5rem;
}

.header {
    grid-column: 2/-1;
    grid-row: 1/2;
}