body {
    font-family: sans-serif;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr;
    min-height: 100vh;
}

.sidebar {
    grid-column: 1/2;
    grid-row: 1/-1;
    display: grid;
    gap: 2rem;
    align-content: start;
    background-color: rgb(40, 73, 34);
    padding: 1rem;
}

h1 {
    margin-bottom: 0;
    color: white;
}

nav {
    display: grid;
    gap: .5rem;
}

nav a {
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    padding: .5rem;
}

.page-header {
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: 2fr 3fr;
    background-color: rgb(50, 83, 44);
    padding: 2rem;
    padding-top: 1rem;
    padding-right: 4rem;
    column-gap: 2rem;
}

.search-container {
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 9fr;
    align-items: center;
    gap: .5rem;
}

input[type='search'] {
    border-radius: 20px;
    border: none;
    font-size: 1.3rem;
    background-color: rgb(238, 238, 238);
}

[for='search'] {
    color: white;
}

.profile-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-content: end;
    gap:1.5rem;
}

.notification-btn {
    grid-column: 1/2;
}

.profile-img {
    grid-column: 2/3;
}

.profile-container span {
    color: white;
    font-weight: bold;
    grid-column: 3/4;
}

.welcome-container {
    grid-row: 2/3;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 2rem;
    color: white;
    margin-left: 1rem;
}

.profile-img-2 {
    grid-column: 1/2;
    justify-self: center;
    align-self: center;
}

.msg-container {
    align-self: center;
}

.welcome {
    margin-bottom: .5rem;
}

.name {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0;
}

.action-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    gap: 2rem;
}

.action-btn {
    padding: .5rem 1rem;
    background-color: rgb(33, 69, 33);
    border: none;
    border-radius: 20px;
    font-size: 1.2rem;
    color: white;
}

.main-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 2rem;
    padding-left: 1.3rem;
    grid-row: 2/4;
    background-color: rgb(222, 222, 222);
    gap: 2rem;
}

h2 {
    margin-top: 0;
}

.primary-container {
    grid-column: 1/2;
    grid-row: 1/3;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.project {
    border-left: 8px solid green;
    border-radius: 8px;
    padding: 1.3rem;
    background-color: white;
}

.project-body, .project-head,
.announcement-body, .announcement-head {
    margin-top: 0;
}

.project-head,
.announcement-head {
    margin-bottom: 0;
}

.interact-container {
    display: flex;
    gap: .5rem;
}

.interact-btn {
    background-color: transparent;
    border: none;
}

.announcements-container {
    grid-column: 2/3;
    grid-row: 1/2;
}

.announcements {
    padding: 2rem;
    background-color: white;
    border-radius: 10px;
}

.announcement-body {
    font-size: .8rem;
}