body {
    font-family: sans-serif;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr;
    min-height: 100vh;
}

.sidebar {
    grid-column: 1/2;
    grid-row: 1/-1;
}

.header {
    grid-column: 2/-1;
    grid-row: 1/2;
}

* {
    outline: 1px solid red;
}